@model List<MusicStore.Models.Album>
@{
    ViewBag.Title = "ASP.NET MVC Music Store";
}
    <div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
            </div>
        </div>
    </div>
    </div>

    <h3>Fresh off the grill</h3>
    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="@Url.Action("Details","Store",new { id = album.AlbumId })">
                        <img class="card-img-top" src="@Url.Action("Verimagen", "Imagenes", new { id = album.AlbumId })" alt="@album.Title" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="@Url.Action("Details","Store",new { id = album.AlbumId })">@album.Title</a></h4>
                        <h5>@album.Artist.Name</h5>
                        <h5>@album.Price</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
         }
    </div>
