<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <h1>
           MUSIC STORE
        </h1>
        <ul id="navlist">
            <li class="first">
                @Html.ActionLink("Home", "Index", "Home");
                @Html.ActionLink("Store", "Index", "Store");
                @Html.ActionLink("Contact", "Contact", "Home");
            </li>
        </ul>
    </div>
    @RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
