@model IEnumerable<MusicStore.Models.Album>

          
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="id">@item.Title</td>
                        <td>@item.Artist.Name</td>
                        <td>@item.Genre.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <img class="styletb" src="@Url.Action("Verimagen", "Imagenes", new { id = item.AlbumId })" />
                        </td>
                        <td class="text-center"><a href="@Url.Action("Edit", "StoreManager", new { @id = @item.AlbumId })" class="openDialog-Edit">Edit</a></td>
                        <td class="text-center"><a href="@Url.Action("Delete", "StoreManager", new { @id = @item.AlbumId })">Delete</a></td>
                    </tr>
                }
        
   