@model IEnumerable<MusicStore.Models.Album>
@{
    ViewBag.Title = "Index";
}
    <div id="maindiv">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="submit" class="input-group-add" id="searchbutton" value="SEARCH" />
                        <input type="text" id="search-box" class="form-control" placeholder="Search by Artist" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-1 text-info">
                    <a href="@Url.Action("Create", "StoreManager")" id="add">Create</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-dark" id="tbdata">
                        <thead>
                            <tr class="success">
                                <th class="text-center">@Html.DisplayNameFor(model => model.Title)</th>
                                <th class="text-center">@Html.DisplayNameFor(model => model.Artist)</th>
                                <th class="text-center">@Html.DisplayNameFor(model => model.Genre)</th>
                                <th class="text-center">@Html.DisplayNameFor(model => model.Price)</th>
                                <th class="text-center">Image</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @Html.Partial("_Tableview")
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="divForAdd">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="divForEdit">
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#add').click(function (e) {
                    e.preventDefault();
                    $.get(this.href, function (response) {
                        $('.divForAdd').html(response);
                    });
                    $('#addmodel').modal({
                        backdrop: 'static',
                    }, 'show');
                }); 

                $('.openDialog-Edit').click(function (event) {
                    event.preventDefault();
                    $.get(this.href, function (response) {
                        $('.divForEdit').html(response);
                    });
                    $('#editmodel').modal({
                        backdrop: 'static',
                    }, 'show');
                });


                $('#searchbutton').click(function (e) {
                    var name = $('#search-box').val();
                    e.preventDefault();
                    $.ajax({
                        url: "/StoreManager/Index",
                        type: "POST",
                        data: { 'Name': name },
                        success: function (data) {
                              
                            $('#tbody').html(data);
                        },
                        error: function () {
                            alert("An error has occured!!!");
                        }
                    });
                });
                     

            });
        </script>

    </div>
